<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payback 2025</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/darkly/bootstrap.min.css"
          integrity="sha512-HDszXqSUU0om4Yj5dZOUNmtwXGWDa5ppESlX98yzbBS+z+3HQ8a/7kcdI1dv+jKq+1V5b01eYurE7+yFjw6Rdg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block extrahead %}
    {% endblock %}

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'payback:landing-page' %}">
            <img src="{% static 'images/payback-logo-alpha_bg-small.webp' %}" class="ps-2 m-0"
                 style="height: 1.5em;" alt="Payback logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "payback:information" %} active {% endif %}"
                       href="{% url 'payback:information' %}">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "payback:registration" %} active {% endif %}"
                       href="{% url 'payback:registration' %}">
                        Registration
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.view_name == "payback:visitors" %} active {% endif %}"
                       href="{% url 'payback:visitors' %}">Visitors</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">

    {% block content %}
    {% endblock %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
        integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>
