{% extends 'base.html' %}

{% block content %}

    <h3>Information</h3>

    <h5>Partyplace</h5>

    <a href="https://ravintolawaiski.fi/">Ravintolalaiva Wäiski</a>
    <p>Hietalahdenlaituri 6, 00150, Helsinki</p>
    <div class="row">
        <div class="col mb-3">
            <iframe width="425" height="350"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=24.926937818527225%2C60.159345693225255%2C24.931218624114994%2C60.161200789364294&amp;layer=mapnik&amp;marker=60.16027454729645%2C24.929078124555417"
                    style="border: 1px solid black"></iframe>
            <br/><small><a
                href="https://www.openstreetmap.org/?mlat=60.160275&amp;mlon=24.929078#map=18/60.160273/24.929078">View
            Larger Map</a></small>
        </div>
    </div>
    <p>Don't forget the infamous <a href="https://party.darklite.org/payback-2025/">Darklite TravelWiki</a></p>
    <hr/>
    <h5>Competitions</h5>
    <p>Deadline will be one week before the party, on <u>Sunday 19th Jan 2025 23:59</u> Finnish time</p>
    <p>Maximum filesize 1GB. If you need more, elaborate to Orgas</p>
    <p>Compomachine courtesy of Compocrew ry. 4090RTX</p>
    <ul>
        <li>Combined demo</li>
        <ul>
            <li>Anything executable. Prepare to provide a video or emulator settings</li>
        </ul>
        <li>Wild</li>
        <ul>
            <li>Literally anything</li>
            <li>For video, must be 1920x1080 with a reasonable framerate. We cannot guarantee FPS over 50</li>
            <li>For audio, must be at least 44.1Khz. We cannot quarantee Khz over 48</li>
        </ul>
        <li>Payback Themed Picture</li>
        <ul>
            <li>Image must be in the theme of PayBack. You decide how</li>
            <li>It can be a photo or graphics, or both. Can be retouched and edited</li>
            <li>Must provide a non-signed image with package and as preview for voting. Two stages required</li>
            <li>Resolution 1920x1080. Lossless format (png/webp) for the entry image</li>
            <li>We use <a href="https://sightengine.com/detect-ai-generated-images">SightEngine</a>
                to determine amount of AI content. Too much and the image will be disqualified
            </li>
        </ul>
    </ul>
    <hr/>
    <h5>Organizers</h5>
    <ul>
        <li>T-101 / Darklite</li>
        <li>H7 / Accession</li>
        <li>Dr. Doom / Paranoids</li>
    </ul>
    <h5>Compocrew</h5>
    <ul>
        <li>Sivu / Byterapers</li>
    </ul>
    <h5>Network Crew</h5>
    <ul>
        <li>Vexe</li>
    </ul>
    <h5>Trophy Crew</h5>
    <ul>
        <li>Ozkuu</li>
    </ul>

{% endblock %}
