{% extends 'base.html' %}

{% block content %}

    {% if not object_list %}
        <h4>No one here yet</h4>
    {% else %}
        <h3>Visitors</h3>

        <div class="row">
            <div class="col-12 col-sm-6">
                <small>
                    Paid visitors: {{ object_list.0.paid_count }} - Total visitors: {{ object_list.count }}
                </small>
            </div>
            <div class="col-12 col-sm-6">
                <small>
                    <i class="fas fa-crown"></i> = Paid
                </small>
            </div>
        </div>

        <hr/>

        {% for visitor in object_list %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        {% include 'snippets/visitor-line.html' %}
                    </div>
                    {% else %}
                    <div class="col-12 col-sm-6">
                        {% include 'snippets/visitor-line.html' %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

{% endblock %}
